/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */
.form-group{
  position: relative;
}
.navbar-default .navbar-toggle .icon-bar{
  background-color: #fff;
}
.navbar-default .navbar-toggle{
  border: none;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{
  background: none;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{
  background: none;
  color: #fff;
  box-shadow: none;
  -webkit-box-shadow: none;
}
.navbar-default .navbar-nav>li>a{color: #fff;}
.navbar-wrapper .navbar{
  padding: 0px;
}
.navbar-wrapper > .container{
  padding-left: 0px;
  padding-right: 0px;
}
.navbar-brand{
  padding: 0px;
  img{
    width: 110px;
  }
}
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}
.nv-icon {
  float: left;
  margin-right: 8px;
  padding-top: 3px;
}
// .navbar-default{
//  background: none;
//  border: none;
// }

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}

.navbar-wrapper .navbar .container {
  width: auto;
}




/* RESPONSIVE CSS
-------------------------------------------------- */
@media (max-width: 767px) {
.navbar-default{
    border-radius:0px;
    -webkit-border-radius:0px;
    background: #69d0f3;
    border-color: #69d0f3;
  }
}
@media (min-width: 768px) {
  .my-account.dropdown-menu::after {
    position: absolute;
    top: -6px;
    right: 75px;
    display: inline-block;
    border-right: 6px solid transparent;
    border-bottom: 6px solid white;
    border-left: 6px solid transparent;
    content: '';
  }
  .language-dd.dropdown-menu::after {
    position: absolute;
    top: -6px;
    right: 10px;
    display: inline-block;
    border-right: 6px solid transparent;
    border-bottom: 6px solid white;
    border-left: 6px solid transparent;
    content: '';
  }
  #navbar{float: left;}
  .navbar-default{
    background: none;
    border: none;
    box-shadow: none;
    -webkit-box-shadow: none;
  }
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  // .carousel-caption p {
  //   margin-bottom: 20px;
  //   font-size: 21px;
  //   line-height: 1.4;
  // }

}

@media (max-width: 992px) {
  .nav>li>a{
    padding: 10px 5px;
  }
  
}
@media (min-width: 992px) {
  #navbar{float: right;}
  
}

